<% @posts = Comfy::Blog::Post.all %>
<% @posts.where("slug = 'announcement'").limit(1).each do |p| %>
  <article>
    <h1><%= p.title %></h1>
    <h1><%= p.content_cache.html_safe %></h1>
  </article>
<% end %>
