<div class="column is-narrow">


  <script src="https://mcapi.us/scripts/minecraft.js"></script>
<div class="server-status">
Omniscient MC Forge is <span class="server-online"></span>!
</div>
<script>
MinecraftAPI.getServerStatus('forge.omniscientmc.com', {
  port: 25565 // optional, only if you need a custom port
}, function (err, status) {
  if (err) {
    return document.querySelector('.server-status').innerHTML = 'Error loading status';
  }

  // you can change these to your own message!
  document.querySelector('.server-online').innerHTML = status.online ? 'Online' : 'Offline';
});
</script>

  <iframe src="https://discordapp.com/widget?id=500701959989493760&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>
