
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      This site is running on the <strong>Quartz Platform</strong> made with ❤️ by <a href="https://omniscientmc.com">OmniscientMC</a>.
    </p>
  </div>
</footer>
